export HISTCONTROL=ignoredups

get_nth_line() {
  sed -n "$1"p
}

{{- if eq .chezmoi.os "darwin" }}
# @description Calls the given function and alerts on success or error.
# The alert is a macOS notification alert, like a pop up.
# For when running a lengthy process and you want to look away.
# @arg $@ Whatever function to be called with whatever parameters
#         NOTE: must be a function and not an alias.
# @example
#   notify_when_done npm install
lmk() {
  "$@" || osascript -e 'display alert "Oh no!" message "Something dun gon goofd up! Check your terminal."'
  osascript -e 'display alert "Process finished!" message "check your terminal"'
}

remind_me_in() {
  TIME=$1
  SLEEP_TIME=$(($1 * 60))
  shift # this is to get the rest of the args as one string
  NOTE="$*"
  echo "Ok! You'll be reminded of \"$NOTE\" in $TIME minute/s!"

  closure() {
    sleep "$1"
    osascript -e "display alert \"Reminder!\" message \"$2\""
  }

  closure "$SLEEP_TIME" "$NOTE" &
}
{{ end -}}
