# local bin
if [ -d "$HOME/.local" ]
then
  export PATH="$HOME/.local/bin:$PATH"
fi

# Luarocks
if [ -d "$HOME/.luarocks" ]
then
  export PATH="$HOME/.luarocks/bin:$PATH"
fi

# Ripgrep
export RIPGREP_CONFIG_PATH=$HOME/.config/ripgrep/ripgreprc

{{- if eq .chezmoi.os "darwin" }}
# GCC
# alias cc="/opt/homebrew/Cellar/gcc/11.3.0_2"
# ln -s =/opt/homebrew/Cellar/gcc/11.3.0_2/bin/gcc-11 /usr/local/bin/cc

# Adding opt for binaries installed by Homebrew
export PATH=/usr/local/opt/:$PATH
{{ end }}
