#===== Keys =====#
# easy reload config
bind -N "Reload tmux config" r source-file ~/.tmux.conf\; display "~/.tmux.conf sourced!"

# set prefix key (the key/code to tell tmux "do this") to C-a
set -g prefix C-a
unbind C-b
bind -N "Send Prefix" C-a send-prefix

# Holding C-* while hitting 'n' or 'p' for a bit faster switching
unbind n
unbind p
bind -N "Next window" C-n next-window
bind -N "Prev window" C-p previous-window

# Pane-switching vim style
bind -N "Select pane L" C-h select-pane -L
bind -N "Select pane R" C-l select-pane -R
bind -N "Select pane U" C-k select-pane -U
bind -N "Select pane D" C-j select-pane -D

# Resizing similar to vim keys
unbind L
bind -N "Resize pane L" H resize-pane -L 10
bind -N "Resize pane R" L resize-pane -R 10
bind -N "Resize pane U" K resize-pane -U 10
bind -N "Resize pane D" J resize-pane -D 10

# Splitting windows
bind -N "Split window horizontally" - split-window -v
bind -N "Split window vertically" | split-window -h
unbind \"
unbind %

# Get name when creating new window
bind -N "Create and name a new winow" C command-prompt -p "Name of new window: " "new-window -n '%%'"


#===== Options =====#
## Server Options
set -g default-terminal "screen-256color"
set -g escape-time 0
set -g focus-events on
set -sa terminal-overrides ",alacritty:RGB"

## Session Options
set -g base-index 1
set -g renumber-windows on
set -g status-keys vi
set -g visual-activity on
set -g visual-bell on

## Window options
set -g clock-mode-style 24
set -g mode-keys vi
set -g monitor-activity on
set -g monitor-bell on

# Copy mode with vim
bind -N "Copy mode: begin Vim selection" -T copy-mode-vi v send-keys -X begin-selection
bind -N "Copy mode: yank" -T copy-mode-vi y send-keys -X copy-selection-and-cancel


#===== Styling and Formatting =====#
# TokyoNight colors for Tmux
# General status
set -g mode-style "fg=#7aa2f7,bg=#414868" # what is mode?
set -g status "on"
set -g status-interval 2
set -g status-justify absolute-centre
set -g status-position top
set -g status-style "fg=#7aa2f7,bg=#414869"

# Status Left -- The session path
set -g status-left-style NONE
set -g status-left "#[fg=#e0af68] #{s|$HOME|~|:session_path}"
set -g status-left-length 30

# Windows
setw -g window-status-separator ""

setw -g window-status-format "#[fg=#7aa2f7,dim] "
setw -ag window-status-format "#I #W " # show window index & name
setw -ag window-status-format "#{?window_activity_flag,,_}"
setw -ag window-status-format " "

setw -g window-status-current-format "#[bg=#7dcfff,fg=#414869,bold] "
setw -ag window-status-current-format " #W "
setw -ag window-status-current-format "#{?window_zoomed_flag,,שּ}"
setw -ag window-status-current-format " "
set -g window-status-current-style "fg=#83a598"

# Status Right -- empty
set -g status-right-style NONE
set -g status-right "#[fg=#e0af68]"

# Messages
set -g display-time 2000 # 2 seconds
set -g message-style "fg=#ff9e64,bg=#414868"

# Panes
set -g pane-border-style "fg=#3b4261"
set -g pane-active-border-style "fg=#7aa2f7"
