{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Upgrade first
sudo eopkg upgrade

# Installing for Solus
echo "Installing packages and apps"
sudo eopkg install silver-searcher alacritty bat git lazygit lf neovim ripgrep tmux zsh
sudo eopkg install -c system.devel

# Install Rust
if ! command -v rustup &> /dev/null
then
  echo "Installing rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

# Install Zellij
if ! command -v zellij &> /dev/null
then
  echo "Installing zellij"
  source $HOME/.cargo/env
  cargo install zellij
fi

# Communicate installation complete

echo -e "\033[0;35m

#################################################
Packages and apps installed!

If there are problems with the setup or script:
JOT THE PROBLEM DOWN IN YOUR TODO APP!!!!!
Before you forget.
Your future and past selves thank you.
#################################################
\033[0m
"
{{ end -}}

