{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Upgrade first
sudo eopkg upgrade

# Installing for Solus
echo "Installing packages and apps"
sudo eopkg install \
  alacritty \
  bat \
  fd \
  git \
  lazygit \
  lf \
  neovim \
  plocate \
  ripgrep \
  silver-searcher \
  tmux \
  zsh

sudo eopkg install -c system.devel

# Install font
echo "Checking fonts..."

# make local dir for fonts if it doesn't exist
if [ ! -d "~/.local/share/fonts" ]
then
  mkdir -p ~/.local/share/fonts
  echo "Created ~/.local/share/fonts"
fi

cd ~/.local/share/fonts

# check for fonts existance before fetching
if ! ls "~/.local/share/fonts/Hack*" &>/dev/null
then
  # Hack
  echo "Installing Hack font"
  curl -fLo "hack.zip" https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Hack.zip
  unzip hack.zip
  rm hack.zip
  echo "Finished installing Hack font"
fi

if ! ls "~/.local/share/fonts/Sauce\ Code\ Pro*" &>/dev/null
then
  # SourceCodePro
  echo "Installing SourceCodePro font"
  curl -fLo "source-code-pro.zip" https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/SourceCodePro.zip
  unzip source-code-pro.zip
  rm source-code-pro.zip
  echo "Finished installing SourceCodePro font"
fi

if ! ls "~/.local/share/fonts/*Windows*" &>/dev/null
then
  # Delete all non-mono fonts
  # This is because the nerd-fonts come w/ multiple versions including windows compatible
  # I only care about the Mono versions for now

  echo "Removing non Mono fonts"
  find ~/.local/share/fonts -type f ! -name '*Mono.ttf' -delete
  find ~/.local/share/fonts -type f -name '*Windows*' -delete
  echo "Finished removing non mono fonts"
fi

echo "Resetting font cache"
fc-cache -f -v
echo "Finished checking fonts"

# Install Rust
if ! command -v rustup &> /dev/null
then
  echo "Installing rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

echo "Checking if zellij is installed..."
# Install Zellij
if ! command -v zellij &> /dev/null
then
  echo "Installing zellij"
  source $HOME/.cargo/env
  cargo install zellij
else
  echo "Zellij is installed already"
fi

# Install asdf and other langs
echo "Checking if asdf is installed"
if ! command -v asdf &> /dev/null
then
  echo "Installing asdf"
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
  source $HOME/.asdf/asdf.sh
else
  echo "asdf is already installed!"

fi

# Installing langs
## Nodejs
echo "Checking if nodejs is installed"
if ! command -v node &> /dev/null
then
  asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
  asdf install nodejs latest
  asdf global nodejs latest
  echo "Installed Nodejs LTS and set it to global asdf version"
else
  echo "nodejs already installed"
fi

# Communicate installation complete

echo -e "\033[0;35m

#################################################
Packages and apps installed!

If there are problems with the setup or script:
JOT THE PROBLEM DOWN IN YOUR TODO APP!!!!!
Before you forget.
Your future and past selves thank you.
#################################################
\033[0m
"
{{ end -}}

