{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "Installing packages and apps"

{{ if eq .chezmoi.osRelease.id "endeavouros" -}}
sudo eos-update

sudo pacman -S \
  bat \
  fd \
  # fzf \
  git \
  # gitui \
  neovim \
  ripgrep \
  starship \
  wezterm \
  zsh

if [ $SHELL != "/usr/bin/zsh" ]
then
  sudo chsh -s /usr/bin/zsh
fi

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf upgrade

sudo dnf install \
 bat \
 fd-find \
 # fzf \
 gcc-c++ \
 git \
 # gitui \
 neovim \
 # plocate \
 ripgrep \
 zsh

if [ -z "$(command -v starship)" ]
then
  echo "Installing Starship"
  curl -sS https://starship.rs/install.sh | sh
fi
{{ else if eq .chezmoi.osRelease.id "solus" -}}
sudo eopkg install \
  bat \
  fd \
  # fzf \
  git \
  neovim \
  # plocate \
  ripgrep \
  starship \
  zsh

sudo eopkg install -c system.devel
{{ end -}}

# Install mise for installing other langs
if [ ! -f "$HOME/.local/bin/mise" ]
then
  echo "Installing mise"
  curl https://mise.run | sh
  echo "Don't forget to install whatever languages you want!"
fi

# Communicate installation complete
printf "\033[0;35m

#################################################
Packages and apps installed!

If there are problems with the setup or script:
JOT THE PROBLEM DOWN IN YOUR TODO APP!!!!!
Before you forget.
Your future and past selves thank you.
#################################################
\033[0m
"
{{ end -}}
