{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Check if the dev tools are installed yet
if [ -n "$(xcode-select -p 1>/dev/null;echo $?)" ]
then
  printf "\033[0;35m

  #################################################
  Ya need to install or update the xcode-command-line tools  ya dinges!!
  Install it by running: xcode-select --install

  BEFORE YOU DO THAT, clear the state of this one-time script so you can re-run this:
  chezmoi state delete-bucket --bucket=scriptState

  Also, you'll probably need to install homebrew afterwards:
  https://brew.sh/
  #################################################

  "

  return 1 2>/dev/null || exit 1
fi


# Make brew a requirement prior to run this
# Not including it because of the differences between M1 and Intel macs
if [ -z "$(command -v brew)" ]
then
  printf "\033[0;35m

  #################################################
  Ya need homebrew ya dinges!!
  Install it here: https://brew.sh/

  BEFORE YOU DO THAT, clear the state of this one-time script so you can re-run this:
  chezmoi state delete-bucket --bucket=scriptState
  #################################################

  "

  return 1 2>/dev/null || exit 1
fi

# Continue as normal
echo "Installing packages and some apps"
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
brew "asciiquarium"
brew "asdf"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "fd"
brew "fzf"
brew "gcc"
brew "git"
brew "jq"
brew "libyaml"
brew "luajit", args: ["HEAD"]
brew "luarocks"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "the_silver_searcher"
brew "tree"
brew "universal-ctags"
brew "wget"
brew "xplr"
brew "zsh"
EOF

# Casks, but check if they are installed first
casks=("alfred" "beekeeper-studio" "discord" "flux" "rectangle" "visual-studio-code")

for c in "${casks[@]}"; do
  if ! command -v "$c" &> /dev/null
  then
    brew install --cask "$c"
  fi
done

printf "\033[0;35m

#################################################
Packages and apps installed!

If there are problems with the setup or script:
JOT THE PROBLEM DOWN IN YOUR TODO APP!!!!!
Before you forget.
Your future and past selves thank you.
#################################################
\033[0m
"
{{ end -}}
