{{- $currentHour := (now | date "15") | atoi -}}
{{- if (and (not .force_dark) (and (ge $currentHour 9) (lt $currentHour 17))) -}}
{{ template "alacritty_colors" .alacritty.tokyo_night.day }}
{{- else -}}
{{ template "alacritty_colors" .alacritty.tokyo_night.storm }}
{{- end -}}
