# Font configuration
font:
  # Normal (roman) font face
  normal:
    {{ template "alacritty_font_family_name" . }}
    style: Regular

  # Bold font face
  bold:
    {{ template "alacritty_font_family_name" . }}
    style: Bold

  # Italic font face
  italic:
    {{ template "alacritty_font_family_name" . }}
    style: Italic

  # Bold italic font face
  bold_italic:
    {{ template "alacritty_font_family_name" . }}
    style: Bold Italic

  # Point size
  size: 16

# If `true`, bold text is drawn using the bright color variants.
draw_bold_text_with_bright_colors: true
